body {
  background-image: url(../img/togetgr.png);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center top;
}


footer {
    position: fixed;
    left: 0;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.content img {
    float: left;
    margin-right: 20px; /* Adjust this value to create space between the image and text */
  }
  
  .content p {
    padding-top: 10px; /* Adjust this value to create space between the image and text */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #fff;
    background-color: #306eb4;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
 
  .navbar {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    width: 100%;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
  }
  
  nav a {
    color: #0000ff; /* modrá barva textu */
    text-decoration: none;
  }
  
  nav a:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: rgb(251, 255, 0);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: width 0.3s ease;
  }
  
  nav a:hover:after {
    width: 100%;
    background-color: orange;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  footer a {
    color: #1e90ff; /* modrá barva pro odkazy */
    text-decoration: none;
    transition: color 0.3s ease; /* plynulá změna barvy textu při najetí myší */
  }
  
  footer a:hover {
    color: #ff8c00; /* oranžová barva pro odkazy při najetí myší */
  }
  header{
    top: 10px;
  }
  
  
  
  